# --- paths ---
PULLBACK_DATA_DIR=/data
PULLBACK_DEST_ROOTS=/mnt/dest/backups,/mnt/dest/media
PULLBACK_ZFS_DEST_ROOTS=cache/docker_remote
PULLBACK_MAX_CONCURRENT_RUNS=1
PULLBACK_HTTP_BASIC_USERNAME=
PULLBACK_HTTP_BASIC_PASSWORD=

# --- matrix (optional) ---
# omit to disable matrix checkbox in the UI
MATRIX_HOMESERVER=https://matrix.lagoon.cloud
MATRIX_TOKEN=
MATRIX_ROOM_ID=!homelab:lagoon.cloud

# --- uptime kuma (optional) ---
# omit to disable uptime-kuma checkbox in the UI
UPTIME_KUMA_URL=https://uptime.lagoon.cloud
UPTIME_KUMA_USERNAME=mikeo
UPTIME_KUMA_PASSWORD=
